<div class="container">

  <form >
    <div class="form-group col-4">
      <input type="text"  class="form-control"  name="city" placeholder = "input city or country to get weather details" [(ngModel)]="city"   >


    </div>

    <button class="btn btn-success" (click)="saveForm()">Submit</button>


  </form>

</div>



