<h1 class="text-center primary ">


</h1>
<div class="text-center container">
<a routerLink="/setting" class="btn btn-primary">Search City</a>
<!-- <a routerLink="/home" class="btn btn-primary">Home</a> -->

</div>
<router-outlet></router-outlet> 


