<div class="container-fluid">
  <div class="row justify-content-center">
      <div class="col-12 col-md-4 col-sm-12 col-xs-12">
          <div class="card p-4">
              <div class="d-flex">
                  <h6 class="flex-grow-1"><strong>City: {{weather.city.name}}</strong></h6>
                  <h6>{{ myDate | date: 'short' }}</h6>
              </div>
              <div class="d-flex flex-column temp mt-5 mb-3">
                  <h1 class="mb-0 font-weight-bold" id="heading">{{weather.list[0].main.temp}} &#8451;</h1> <span class="small grey"><strong>Description: {{weather.list[0].weather[0].description}}</strong> </span>
              </div>
              <div class="d-flex">
                  <div class="temp-details flex-grow-1">
                      <p class="my-1"> <img src="https://i.imgur.com/B9kqOzp.png" height="17px"> <span>{{weather.list[0].wind.speed}} m/s</span> </p>
                    
                      <p class="my-1"> <i class="fa fa-tint mr-2" aria-hidden="true"></i> <span> <strong>Humidity: </strong>{{weather.list[0].main.humidity}}% </span> </p>
               
                  </div>
                  <div> <img src="http://openweathermap.org/img/w/{{weather.list[0].weather[0].icon}}.png" height="100px"> </div>
              </div>
          </div>
      </div>
  </div>
</div>




